.sec-one {
	background: url('../images/bg-gold.png');
	background-size: cover;
	background-position: center;
	padding: 2rem 0 3rem 0;
	h1,
	p {
		text-align: center;
	}
	p {
		font-size: $medium;
		margin-bottom: 2.5rem;
		margin-top: 0.25rem;
	}
	.sec-one-content {
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 3rem;
		justify-items: center;
		@media only screen and (max-width: 825px) {
			grid-template-columns: 1fr;
			justify-items: center;
		}
		div {
			justify-self: start;
			align-self: center;
			@media only screen and (max-width: 825px) {
				justify-self: center;
			}
		}
		iframe {
			justify-self: end;
			@media only screen and (max-width: 825px) {
				justify-self: center;
				width: 80%;
			}
		}
	}
}
