// Variables ---------- //
//Colors
$color-one: #17bebb;
$color-two: #ffffea;
$color-three: #f6bd60;
$color-four: #93b7be;

$color-font-one: #ffffff;
$color-font-two: #000000;

//Fonts
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

$main-font: 'Lato', sans-serif;

$small: 0.75rem;
$regular: 1rem;
$medium: 1.25rem;
$large: 1.7rem;
$xlarge: 2rem;
$xxlarge: 2.75rem;

$light: 300;
$normal: 400;
$semi-bold: 500;
$bold: 700;

//Universal Styles ------- //
*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-style: $main-font;
	font-size: 18px;
}

h1,
h2,
h3,
h4 {
	font-size: $xlarge;
}

.wrapper {
	max-width: 1080px;
}

button {
	color: $color-font-one;
	font-size: $medium;
	width: 100%;
	padding: 1rem 4rem;
	background: $color-one;
	border-radius: 10px;
}

ul {
	list-style-type: none;
	li {
		padding-bottom: 2rem;
		display: flex;
		align-items: center;
	}
}

li:before {
	content: '';
	display: inline-block;
	height: 25px;
	width: 25px;
	background-size: cover;
	background-image: url('../images/bullet.png');
	background-repeat: no-repeat;
	margin-right: 1rem;
}

//Header ------- //
.header {
	text-align: center;
	border-top: 3px solid $color-three;
	padding: 1.5rem 0;
	margin-bottom: 0;
	img {
		width: 10rem;
	}
}

// Style Sheet Imports

@import 'partials/_section-one';
@import 'partials/_section-two';
@import 'partials/_section-three';
