@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
*,
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-style: "Lato", sans-serif;
  font-size: 18px;
}

h1,
h2,
h3,
h4 {
  font-size: 2rem;
}

@media only screen and (max-width: 825px) {
  h1,
  h2,
  h3,
  h4 {
    font-size: 1.7rem;
  }
}

.wrapper {
  max-width: 1080px;
  margin: 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

button {
  color: #ffffff;
  font-size: 1.25rem;
  width: 100%;
  padding: 1rem 4rem;
  background: #17bebb;
  border-radius: 10px;
}

ul {
  list-style-type: none;
}

ul li {
  padding-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li:before {
  content: '';
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: cover;
  background-image: url("../images/bullet.png");
  background-repeat: no-repeat;
  margin-right: 1rem;
}

.header {
  text-align: center;
  border-top: 3px solid #f6bd60;
  padding: 1.5rem 0;
  margin-bottom: 0;
}

.header img {
  width: 10rem;
}

.sec-one {
  background: url("../images/bg-gold.png");
  background-size: cover;
  background-position: center;
  padding: 2rem 0 3rem 0;
}

.sec-one h1,
.sec-one p {
  text-align: center;
}

.sec-one p {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  margin-top: 0.25rem;
}

.sec-one .sec-one-content {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
  justify-items: center;
}

@media only screen and (max-width: 825px) {
  .sec-one .sec-one-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.sec-one .sec-one-content div {
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media only screen and (max-width: 825px) {
  .sec-one .sec-one-content div {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.sec-one .sec-one-content iframe {
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 825px) {
  .sec-one .sec-one-content iframe {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 80%;
  }
}

.sec-two {
  background: #ffffea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0 2rem 0;
}

.sec-two .sec-two-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.sec-two .sec-two-top p {
  width: 30%;
  text-align: center;
}

@media only screen and (max-width: 825px) {
  .sec-two .sec-two-top p {
    width: 65%;
  }
}

.sec-two .line {
  width: 100%;
  height: 1px;
  background: #666666;
}

.sec-two .logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 1rem;
}

@media only screen and (max-width: 825px) {
  .sec-two .logos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.mini-header {
  background: #93b7be;
  color: #ffffff;
  padding: 2rem 0 2rem 0;
  text-align: center;
}

.mini-header h2 {
  font-weight: 300;
}

.sec-three {
  background: url("../images/bg-abstract.png");
  padding: 2rem 0 3rem 0;
}

.sec-three-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  justify-items: center;
  margin: 0 auto;
}

@media only screen and (max-width: 825px) {
  .sec-three-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.sec-three-content .sec-three-txt {
  margin-bottom: 2rem;
}

.sec-three-content .sec-three-txt-two {
  margin-bottom: 1rem;
}

.sec-three-content button {
  width: 75%;
}

.sec-three-content .sec-three-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shown-image {
  background-image: url("../images/img-large.png");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 1rem;
}

.images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.images figure {
  margin: 0;
  padding: 0.25rem;
}

.images figure img {
  width: 100%;
  padding: none;
}

.mini-header-two {
  padding: 2rem 0;
  color: #ffffff;
  text-align: center;
  background: url("../images/bg-leaves.png");
}

.mini-header-two h2 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.mini-header-two p {
  margin: 0 auto;
}

.sec-four {
  background: url("../images/bg-dots.png");
  background-size: cover;
  padding: 4rem 0;
}

.sec-four h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.sec-four img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.sec-four-points {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  margin-top: 3rem;
}

@media only screen and (max-width: 825px) {
  .sec-four-points {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
}

.sec-four-points .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-four-points .point img {
  margin-right: 0.75rem;
}

.sec-four-points .point-title {
  font-weight: 700;
}

@media only screen and (max-width: 825px) {
  .sec-four-img {
    width: 80%;
  }
}

.sec-five {
  background: url("../images/bg-bokeh.png");
  background-size: cover;
  background-position: bottom;
  text-align: center;
  padding: 3rem 0;
}

.sec-five h2 {
  margin-bottom: 3rem;
}

.sec-five .sec-five-steps {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 825px) {
  .sec-five .sec-five-steps {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.sec-five .step {
  font-weight: 700;
}

.sec-five button {
  width: 30%;
  margin-top: 2rem;
}

@media only screen and (max-width: 825px) {
  .sec-five button {
    width: 80%;
  }
}

.sec-six {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
  padding: 3rem;
  grid-gap: 2rem;
}

.sec-six h2 {
  color: #30698c;
  margin-bottom: 1rem;
  text-align: center;
}

.star-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
}

.star-rating figcaption {
  font-size: 0.75rem;
  font-weight: 700;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review p {
  font-weight: 700;
}

.review-text {
  margin-left: 10.4rem;
}

.review-text-reverse {
  text-align: right;
}

.review-reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
/*# sourceMappingURL=main.css.map */